[Unit]
Description=VEXBridge

[Service]
SecureBits=keep-caps
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/opt/vexbridge/dist
ExecStart=/usr/bin/node server.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target